body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-image: url("6.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 500px;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    background-color: #faf6f6a3;    
    width: 400px;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_form{
    position: relative;
    border-bottom: 2px solid #0b0b0b;
    margin: 30px 0;
}

.text_form input{
    width: 100px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #666666;
    cursor: pointer;
    padding: 5px;
}

.text_form label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #646262;    
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text_form span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.text_form input:focus ~ label,
.text_form input:valid ~ label{
    top: -5px;
    color: #000000;
}

.text_form input:focus ~ span::before,
.text_form input:valid ~ span::before{
    width: 100%;
}


input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
}

input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}



@media screen and (max-width: 400px){
    .center{
        padding: 15px 10px;
        width: 200px;
    }
}